
.Profile{
    
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: space-between;
    margin: 20px;
   
}

.divider{
    border: 1px solid slategray;
    border-block-start-width: 5px;
    height: 500px;
    padding: none;
    }

    
