.fpmain {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    text-align: center;
    vertical-align: 100px;
}

.fpmain img {
    display: block;
    margin: 0 auto;
    width:100%;
    height:100%;
}

* {
    min-height: 0;
    min-width: 0;
  }

  .stars {
      display: flex;
      font-size: 34px;
  }