main{
    min-height: calc(100vh - 110px);
}

.container {
    display: flex;
    align-items: center;
}

.newMovies {
    flex: grow;
    align-self: center;
}

.upcomingMovies {
    flex: grow;
    align-self: stretch;
}


