.body {
    height: 530px;
    width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    outline: solid;
}

.body img {
    height: 150px;
    width: 100px;
}

.newSideBar {
    height: 500px;
    width: 200px;
    margin: 5px 0;
}

.newSideBar li {
    list-style: none;

}

.upcomingSideBar {
    height: 525px;
    width: 200px;
    margin: 5px 0;
}

.upcomingSideBar li {
    list-style: none;

}

li:nth-of-type(1n+4) {
    display: none;
} 
