.body {
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
    color: navy;
    list-style: none;
    margin: 10px 5px;
}

.body li {
    height: 200px;
}

.body li img {
    height: 200px;
    width: 120px;
}

