.body {
    height: 500px;
    width: 225px;
    overflow: hidden;
}

.body img {
    height: 150px;
    width: 100px;
}

.spanSideBar {
    margin: 5px 0;
}

.spanSideBar li {
    list-style: none;

}

li:nth-of-type(1n+4) {
    display: none;
} 