.UpcomingMovies {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border: 2px solid black;
    padding: 12px;
}
.body{
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
<<<<<<< HEAD
    outline: solid 1px;
    outline-color: gray;
=======
    overflow-y: auto;
>>>>>>> master
}

.body img {
    height: 150px;
    width: 100px;
}

.body p {
    font-weight: bold;
}

.spanSideBar {
    margin: 5px 0;
}

.spanSideBar li {
    list-style: none;
    margin-bottom: 10px;
}

li:nth-of-type(1n+4) {
    display: none;
} 
